.aboutSection,
.contactSection {
  padding: 2rem 1rem;
}

.contactForm {
  padding: 1rem;
}
.contactForm input,
.contactForm textarea {
  box-sizing: border-box;
  width: 100%;
  border-radius: var(--block-border-radius);
  border: none;
  background-color: var(--primary-bg-color);
  padding: 0.75rem;
  margin-bottom: 2rem;
}
