.cartSection {
  padding: 2rem 1rem;
}

.product {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 5rem 2fr 0.5fr 0.75fr 1fr;
  gap: 1rem;
  align-items: center;
}

.productPhoto {
  width: 5rem;
  border-radius: var(--block-border-radius);
}
.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price {
  font-weight: 500;
}
.quantityInput {
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem;
}
.removeBtn {
  padding: 0.75rem 1rem;
  font-weight: 500;
}

.total {
  margin: 1rem 0;
  padding: 1.5rem 1rem;
  font-weight: 500;
}
.total span {
  color: var(--highlight-color);
}

.checkoutBtn {
  width: 100%;
  font-weight: 500;
}

.emptyCartMessage {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.emptyCartMessage > * {
  padding: 0.5rem;
}
