.storeSection {
  padding: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 0.75rem;
  cursor: pointer;
  max-width: 27.5rem;
}

.productPhoto {
  border-radius: var(--block-border-radius);
}

.productBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productInfo {
  padding: 1rem 0;
}
.productInfo .name {
  font-weight: 600;
  font-size: 1.75rem;
  padding-bottom: 1.5rem;
}
.productInfo .description {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.productActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productActions .price {
  font-size: 2rem;
  font-weight: 500;
}
.productActions .addToCartBtn {
  padding: 0.75rem 1rem;
  font-size: 1.5rem;
  z-index: 2;
}
.productActions .addToCartBtn svg {
  margin-right: 0.5rem;
}
