.container {
  position: fixed;
  bottom: 1%;
  right: 1%;
  min-width: 3rem;
  min-height: 3rem;
  z-index: 3;
}
.cartBtn {
  border-radius: 50%;
  position: relative;
  display: flex;
  place-content: center;
  color: var(--highlight-color);
  padding: 1.5rem;
  cursor: pointer;
}
.badge {
  position: absolute;
  top: -0.75rem;
  left: -0.75rem;
  padding: 0.75rem;
  color: var(--secondary-bg-color);
  background-color: var(--highlight-color);
  border-radius: 50%;
  display: flex;
  place-content: center;
  min-width: 1.5rem;
  min-height: 1.5rem;
  line-height: 1.5rem;
}
