.header {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}
.logo {
  cursor: pointer;
}
.header nav a {
  display: inline-block;
  padding: 0.5rem;
  margin: 0 0.25rem;
  font-weight: 500;
}
