@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Quicksand:wght@400;500;600&display=swap');

:root {
  --primary-color: rgb(31, 31, 31);
  --primary-bg-color: rgb(238, 238, 238);
  --secondary-color: rgb(48, 48, 48);
  --secondary-bg-color: rgb(255, 255, 255);
  --highlight-color: rgb(206, 73, 56);
  --block-border-radius: 1rem;
  --block-box-shadow-color: rgba(145, 143, 143, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}

main {
  min-height: 85vh;
  max-width: 960px;
  margin: 6rem auto auto;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}

:is(h1, h2, h3, h4) {
  font-family: 'Lora', serif;
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}

img {
  width: 100%;
}

input,
button,
textarea {
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  outline: none;
}

.block {
  color: var(--primary-color);
  background-color: var(--secondary-bg-color);
  padding: 0.75rem;
  border-radius: var(--block-border-radius);
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--block-box-shadow-color);
}

.btn {
  color: var(--secondary-bg-color);
  background-color: var(--highlight-color);
  padding: 1rem;
  border-radius: var(--block-border-radius);
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--block-box-shadow-color);
  font-weight: 600;
  border: none;
  cursor: pointer;
  display: flex;
  place-content: center;
}
.btn:hover {
  filter: brightness(1.05);
}
.btn:active {
  filter: brightness(0.9);
}
.btn[disabled] {
  filter: opacity(0.5);
  cursor: default;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.75rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(206, 206, 206);
    --primary-bg-color: rgb(20, 20, 20);
    --secondary-color: rgb(153, 152, 152);
    --secondary-bg-color: rgb(49, 49, 49);
    --highlight-color: rgb(255, 104, 84);
    --block-border-radius: 1rem;
    --block-box-shadow-color: rgba(20, 20, 20, 0.5);
  }
  img {
    filter: brightness(0.9);
  }
}
